/* VARIABLES */

:root {
  --primary: hsl(257, 40%, 49%);
  --secondary: hsl(300, 69%, 71%);
}

/* MOBILE */

body {
  font-family: "Open Sans", sans-serif;
  background-image: url("/images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: var(--primary);
}

#navbar {
  padding: 20px 32px 120px;
}

.logo {
  width: 120px;
  padding: 10px 0 60px;
  float: left;
}

.flex-container {
  padding: 0 32px 20px;
  text-align: center;
}

.img {
  width: 100%;
  max-width: 600px;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  color: #fff;
  padding-top: 40px;
}

.text {
  font-size: 15.5px;
  color: #fff;
  max-width: 500px;
  margin: auto;
}

.btn {
  width: 190px;
  border: none;
  border-radius: 25px;
  padding: 10px 0;
  margin-top: 25px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: var(--primary);
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--secondary);
  color: #fff;
}

.btn:focus {
  outline: none;
}

.content-footer {
  display: flex;
  justify-content: space-evenly;
  width: 130px;
  padding: 40px 0 30px;
  margin: auto;
}

.icon {
  border-radius: 50%;
  border: 1px solid #fff;
  width: 27px;
  height: 27px;
  position: relative;
  cursor: pointer;
}

i {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
}

.icon:hover {
  border-color: var(--secondary);
}

.icon:hover i {
  color: var(--secondary);
}

/* FOOTER */

#page-container {
  position: relative;
  min-height: 100vh;
}

.attribution {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1rem;
  padding-top: 10px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* TABLET */

@media (min-width: 376px) {
  body {
    background-image: url("/images/bg-desktop.svg");
    background-position: -150px;
    background-size: cover;
  }
}

/* DESKTOP */

@media (min-width: 1025px) {
  #navbar {
    height: 100px;
    padding: 45px 64px 0;
  }

  .logo {
    width: 220px;
    padding: 0;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: auto;
    align-items: center;
    padding: 0 62px 20px;
  }

  .img {
    max-width: 45vw;
    height: auto;
    padding-top: 15px;
  }

  .text-container {
    text-align: left;
    padding: 0 50px;
    align-self: flex-start;
  }

  .title {
    font-size: 42px;
    padding-right: 50px;
  }

  .text {
    margin: 0;
    font-size: 17px;
    line-height: 170%;
  }

  .btn {
    width: 180px;
    padding: 15px 0;
    font-size: 17px;
  }

  .content-footer {
    margin: 0;
    float: right;
    padding: 0 150px 0 0;
  }
}
